<form action="">
  <label for="Title">Hable con nosotros</label>
  <section>
    <div>
      <label for="">Nombre</label>
      <input
        type="text"
        class="form-box__input"
        name="name"
        required
        minlength="4"
        maxlength="25"
      />
    </div>
    <div>
      <textarea
        name="message"
        placeholder="Escribe tu mensaje"
        cols="30"
        rows="2"
        autocomplete="off"
      ></textarea>
    </div>
  </section>
  <input type="submit" value="Enviar Mensaje" />
</form>
